@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap');

body {
    margin: 10px;
    background-color: #f0f0f0;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: darkcyan;
}

a:hover {
    background-color: yellow;
}

div#cta {
    text-align: center;
    font-style: italic;
    font-size: large;
}

div#selector {
    border: 1px grey dotted;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    line-height: 200%;
}

div#selector span{
    white-space: nowrap;
    margin: 10px;
}

div#projects {
    margin-top: 20px;
}

div#projects img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

div#projects > div {
    clear: both;
    padding-top: 10px;
    border-top: 1px solid #D0D0C0;
}

div#projects p {
    margin-block-start: -4px;
    margin-block-end: 6px;
}

div#projects p.header {
    font-size: larger;
    font-weight: 700;
}

div#projects p.tags {
    font-size: smaller;
    margin-block-start: 2px;
}
