body {
    margin: 10px;
    /*background-color: antiquewhite;*/
    /*background-color: azure;*/
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: darkcyan;
}

a:hover {
    background-color: yellow;
}

div#selector {
    border: 1px grey dotted;
    border-radius: 10px;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

div#selector span{
    white-space: nowrap;
    margin: 10px;
}

div#projects {
    margin-top: 20px;
}

div#projects img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div#projects > div {
    clear: both;
    /*border: 1px solid red;*/
    padding-top: 10px;
    border-top: 1px solid #D0D0C0;
}

div#projects p.header {
    font-size: larger;
    font-weight: bold;
}

div#projects p.tags {
    font-size: smaller;
}
